<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="#">Finder</a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-collapse" id="exCollapsingNavbar">

      <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
        <li class="dropdown order-1">
          <button type="button" id="dropdownMenu1" data-toggle="dropdown"
            class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right mt-2">
            <li class="px-3 py-2">
              <form class="form" role="form">
                <div class="form-group">
                  <button type="submit" (click)="login()" class="btn btn-danger btn-block">Entrar com gmail</button>
                </div>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Finder</h1>
    <p class="lead font-weight-normal">Busque abaixo erros diretamente no StackOverFlow</p>
    <div class="input-group input-group-lg">
        <input type="text" class="form-control"  [(ngModel)]="message" placeholder="Cole aqui o erro do código ">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-lg" (click)="findError(message)" type="button">Pesquisar</button>
        </span>
    </div>   
  </div>
</div>

<div class="list-group">
  <a *ngFor="let item of result" href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{item.title}}</h5>
      <small>{{item.creation_date * 1000 | date}}</small>
    </div>
    <p class="mb-1"><a href="{{item.link}}">Acessar página</a></p>
  </a>
</div>


